.sl-format-grid{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px !important;
}

.sl-format-bg{
    display: grid !important;
    grid-template-rows: repeat(6, 24px);
    width: 200px;
    height: max-content;
}

.sl-input-box-parent-div{
    width: max-content;
    height:24px;
}

.sl-input-box{
    /* background-color: green; */
    font-size: 12px;
    height: 24px;
    max-height: 24px;
    width: max-content;
    /* width: 250px; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: scroll;
    border-color: black;
    color: rgb(28, 28, 28);
    border: 1px 1px 1px 1px;
    border-radius: 8px 8px 8px 8px;
}

.sl-form-label-override{
    font-size: 12px;
    height: 24px;
    max-height: 24px;
    white-space: nowrap;
    overflow-x: auto;
    color : black;

    display:flex;
    justify-content: start;
    align-items: center;
}

.sl-contents-header{
    display: grid !important;
    grid-template-columns: 50% 50% !important;
}

.sl-contents-header-item{
    display: grid !important;
    grid-template-columns: 25% 75%;
}

.sl-contents-horizontal-line{
    border: solid;
    border-color: black;
    border-width: 0px;
    border-bottom-width: 3px;
}

.sl-accounting-format{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

.sl-accounting-format-bg{
    display: grid !important;
    grid-template-rows: repeat(6, 24px);
    width: 200px;
    height: max-content;
}


.sl-logistics-format{
    /* background-color: green; */
    padding: 8px;
    display: grid !important;
    grid-template-columns: 50% 50% !important;
}

.sl-logistics-left{
    /* background-color: aqua; */
    width: auto !important;
    display: flex;
    flex-direction: column;
}

.sl-logistics-right{
    width: auto !important;
}

.sl-logistics-group{
    /* background-color: brown; */
    display:grid !important;
    width: 100% !important;
    /* height: 80px; */
    min-height: 80px;
    height: fit-content;
    grid-template-columns: 50% 50% !important;
}

.sl-textbox {
    background-color: #e8e8e8;
    border: solid;
    border-width: 1px;
}

.sl-in-parent{
    width: 100% !important;
}

.sl-in{
    width: 100% !important;
}



/* INI BAGIAN MASTER SEMUA */

.sl-item-format-grid{
    display : grid !important;
    grid-template-columns: auto !important;
    width: 50%;
    height: 500px !important;
}

.sl-item-format-sheet{
    width: 100%;
    height: 100%;
    padding: 10px;

}

.sl-item-format-sheet-group{
    display: grid !important;
    grid-template-rows: 20% 80%;
    height: 100%;
    width: 100%;
    /* background-color: purple; */
    gap: 20px;
    padding-left: 20px;
}

.sl-item-format-sheet-group div {
    margin: 0px; padding: 0px;
}

.sl-item-group-title{
    /* margin-top: 10px; */
}

.sl-item-field-group{
    width: 500px !important;
    /* padding-top: 80px; */
}


/* Button ya bro */

.sl-header-button{
    color: navy;
    background-color: navy;
    min-height: 33px;
}

.sl-header-button span{
    margin-left: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sl-req-header-pad{
    margin: 0px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 0px;
}
